<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tables Page</title>
    <!-- Below is dependency fo Paginated Tables (Bootsrap 4) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <!-- End of dependencies block -->

    <!-- You can define any styles instead of styles in the block below -->
    <style>
        th {
            cursor: pointer;
        }
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin-left: 40%;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <!-- End of block -->

    <!-- js6tables Script should be imported after Bootstrap 4 scripts -->
    <script type="module" src="{{ url_for('static', filename='js6tables.js')}}"></script>
</head>
<body>
    <h3>Ordinary Table</h3>
    <div id="ord_table"></div>
    <h3>Updatable Ordinary Table</h3>
    <div id="upd_ord_table"></div>
    <h3>Paginated Table</h3>
    <div id="page_table"></div>
    <h3>Updatable Paginated Table</h3>
    <div id="upd_page_table"></div>

    <!-- Script which create tables with the help of classed from js6tables can be defined in the end of body container
     or it can be defined as a separate js script file and then it can be declared in head block, NOTE it should be
     declared after js6tables.js
     -->
    <script type="module">
        import { TableStyle, BasicTable, BasicUpdTable, PagedTable, PagedUpdTable }
        from "./static/js6tables.js";
        const tableStyles = new TableStyle("form-control", "btn btn-outline-success",
            "btn btn-outline-success", "table table-hover", "" , "", "loader") // this a classes names for elements
        // create first table:
        fetch('/random/10/6')
            .then(response => response.json())
            .then(data => {
                let t_headings = ["A", "B", "C", "D", "E", "F"];
                let t_types = new Array(t_headings.length).fill("num"); // num or str
                let t = new BasicTable(
                    "ord_table", // div where we would like to see our table
                    t_headings, // column headings Array
                    data, // Array of Arrays, inner Array should have the same length as t_headings
                    t_types, // types of columns data (number or string)
                    true, // do we want to clear div before inserting table
                    tableStyles
                );
                t.createTheTable();
            });
        // create second table
        fetch('/random/9/7')
            .then(response => response.json())
            .then(data => {
                let t_headings = ["A", "B", "C", "D", "E", "F", "G"];
                let t_types = new Array(t_headings.length).fill("num");
                let t = new BasicUpdTable(
                    "upd_ord_table", // div where we would like to see our table
                    t_headings, // column headings Array
                    data, // Array of Arrays, inner Array should have the same length as t_headings
                    t_types, // types of columns data (number or string)
                    "/random/9/7", // endpoint of our API to get updates for our table
                    15, // we would like to get updates every 15 seconds
                    true, // do we want to clear div before inserting table
                    tableStyles
                );
                t.createTheTable();
            });
        // create third table
        fetch('/paged/75/5')
            .then(response => response.json())
            .then(data => {
                let t_headings = ["A", "B", "C", "D", "E"];
                let t_types = new Array(t_headings.length).fill("num");
                let t = new PagedTable(
                    "page_table", // div where we would like to see our table
                    t_headings, // column headings Array
                    data, // Array of Arrays, inner Array should have the same length as t_headings
                    t_types, // types of columns data (number or string)
                    tableStyles
                );
                t.createTheTable();
            });
        // create fourth table
        fetch('/paged_upd/75/5')
            .then(response => response.json())
            .then(data => {
                let t_headings = ["A", "B", "C", "D", "E"];
                let t_types = new Array(t_headings.length).fill("num");
                let t = new PagedUpdTable(
                    "upd_page_table", // div where we would like to see our table
                    t_headings, // column headings Array
                    data, // Array of Arrays, inner Array should have the same length as t_headings
                    t_types, // types of columns data (number or string)
                    '/paged_upd/75/5', // url to get updates
                    5, // updates interval in seconds
                    tableStyles
                );
                t.createTheTable();
            });

    </script>
</body>
</html>